// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/

@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

// header

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .header__logo {
    margin: 20px;
  }
  .header__menu {
    @include h4;
    line-height: 27px;
    text-align: center;
    margin: auto;
    .header__menu--arrow {
      margin-left: 10px;
    }
  }
  .header__hamburger {
    margin: 26px;
  }
}

// main

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $bcg-color;

  // streamline

  .streamline {
    &__header {
      @include h2;
      font-weight: $bold;
      padding: $small $small 0;
      color: $product-color;
      font-size: 40px;
      line-height: 50px;
      padding-top: $large;
    }
    .streamline__img {
      width: 100%;
      background: url("/assets/images/desks2.png");
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: contain;
      overflow: hidden;
      .streamline__phone {
        width: 85%;
        transform: translate(13%, 60px);
      }
    }
    &__paragraph {
      @include h4;
      margin: $medium $small;
      .streamline__stores {
        margin: $medium 0;
        display: flex;
        justify-content: space-between;
        .streamline__button {
          border: none;
          width: 150px;
          height: 50px;
          background-color: $text-color;
          color: white;
        }
      }
    }
  }

  // main features

  .main-features {
    width: 300%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    position: relative;
    &__column {
      margin: $large $small;
      flex-basis: 33%;
      h2 {
        @include h2;
        margin-bottom: $base;
      }
      p {
        @include paragraph;
      }
    }
    &__dots {
      position: absolute; // dac display flex, row, space around
      bottom: $large;
      left: 50vw;
      transform: translateX(-50%);
      font-size: 60px;
      height: 10px;
      span {
        cursor: pointer; //zamiast span dac div? albo display block?
      }
      .active {
        color: $product-color;
      }
    }
  }

  //problem solving

  .problem-solving {
    position: relative;
    &__header {
      @include h4;
      margin: $base $small;
    }
    &__wrapper {
      width: 300%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      background-color: #fff;
      .problem-solving__column {
        margin: $large $small;
        flex-basis: 33%;
        img {
          display: block;
          margin: $base auto;
          width: 70%;
          max-width: 205px;
        }
        h2 {
          @include h3;
          margin-bottom: $base;
        }
        p {
          @include paragraph;
          margin-bottom: $large;
        }
      }
    }
    &__dots {
      position: absolute; // dac display flex, row, space around
      bottom: $base;
      left: 50vw;
      transform: translateX(-50%);
      font-size: 60px;
      span {
        cursor: pointer; //zamiast span dac div? albo display block?
      }
      .active {
        color: $product-color;
      }
    }
  }

  // features

  .features {
    margin-top: $large;
    position: relative;
    &__header {
      @include h4;
      line-height: $base;
      margin: $base $small;
    }
    &__bcg {
      height: 360px;
      background-image: url("/assets/images/mob_features_bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      // transition: 0.3s;
    }
    &__desc {
      background-color: $product-color;
      .features__header-big {
        @include h2;
        font-size: 40px;
        letter-spacing: -2px;
        padding: $large $small $base;
        color: $bcg-color;
        // transition: 0.5s;
      }
      .features__text {
        @include paragraph;
        color: $bcg-color;
        padding: $small $small $large;
        // transition: 0.5s;
      }
      .features__download {
        @include h4;
        color: $bcg-color;
        text-align: center;
        padding: $small;
        border-top: dotted $bcg-color 1px;
      }
    }
    &__nav {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      top: 430px;
      .nav__arrow--back {
        height: $medium;
        width: $medium;
        img {
          width: 100%;
        }
      }
      .nav__arrow--front {
        height: $medium;
        width: $medium;
        img {
          width: 100%;
        }
      }
    }
    &__phone {
      .features__phone--small {
        position: absolute;
        top: 155px;
        left: 50%;
        transform: translateX(-130px);
      }
      .features__phone--big {
        display: none;
        position: relative;
        .features__screen {
          position: absolute;
        }
      }
    }
  }

  // booking

  .booking {
    padding-top: $medium;
    position: relative;
    background-color: #fff;
    &__text {
      margin: $small;
      .booking__header {
        @include h2;
      }
      .booking__paragraph {
        @include paragraph;
        margin: $medium 0 0;
      }
    }
    &__details {
      @include h4;
      position: absolute;
      left: 40%;
      top: 55%;
      line-height: $base;
      .details__bold {
        font-weight: 700;
      }
    }
  }

  // drop down list

  .drop-down-list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 $small;
      border-top: solid 1px $bcg-color;
      border-bottom: solid 1px $bcg-color;
      p {
        @include h3;
        height: $large;
        line-height: $large;
      }
    }
    &__item.active p {
      color: $product-color;
    }
  }

  // form

  .form {
    display: none;
  }
}

// footer

footer {
  height: 200px;
  width: 100%;
  background-color: $product-color;
}

// MEDIA QUERIES

@media (min-width: 480px) {
  main .streamline__paragraph .streamline__stores {
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  main .streamline {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    max-height: 500px;
    .streamline__header {
      position: relative;
      width: 40%;
    }
    .streamline__img {
      width: 50%;
      background: url("/assets/images/desks.png");
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 500px;
      order: 1;
      max-width: 784px;
      .streamline__phone {
        width: 55%;
        transform: translate(55%, 10px);
      }
    }
    .streamline__paragraph {
      width: 40%;
    }
  }
  main .features {
    .features__bcg {
      background-image: url("/assets/images/Layer\ 78.png");
    }
    .features__desc {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .features__header-big {
        flex-basis: 50%;
      }
      .features__text {
        flex-basis: 50%;
        padding: $large $small $small;
      }
      .features__download {
        flex-basis: 100%;
      }
    }
    .features__phone {
      .features__phone--small {
        left: 70%;
      }
    }
  }
}

@media (min-width: 1024px) {
  main .features {
    &__phone {
      position: relative;
      .features__phone--small {
        display: none;
      }
      .features__phone--big {
        position: absolute;
        display: block;
        // height: 50%;
        transform: scale(60%);
        top: -720px;
        left: 60%;
        .features__screen {
          position: absolute;
          top: -577px;
          left: 133px;
          overflow: hidden;
          width: 246px;
          position: relative;
          .screen__back {
            position: absolute;
            transform: translateX(246px);
            transition: 0.5s;
            z-index: 1;
          }
        }
      }
    }
  }
}
